# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single DataFrame
study_data_complete = pd.merge(mouse_metadata,study_results, how='left',on =['Mouse ID','Mouse ID'])
# Display the data table for preview
study_data_complete.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [3]:
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
# Checking the number of mice.
study_data_complete['Mouse ID'].nunique()

249

In [5]:
study_data_complete['Mouse ID'].describe()

count     1893
unique     249
top       g989
freq        13
Name: Mouse ID, dtype: object

In [32]:
study_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893 entries, 0 to 1892
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Drug Regimen        1893 non-null   object
 2   Sex                 1893 non-null   object
 3   Age_months          1893 non-null   int64
 4   Weight (g)          1893 non-null   int64
 5   Timepoint           1893 non-null   object
 6   Tumor Volume (mm3)  1893 non-null   float64
 7   Metastatic Sites    1893 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 118.4+ KB

In [4]:
# Our data should be uniquely identified by Mouse ID and Timepoint
study_data_complete['Timepoint'] = study_data_complete['Timepoint'].astype('object')
MouseID_Timepoint = study_data_complete.duplicated(subset=['Mouse ID','Timepoint'], keep=False)
MouseID_Timepoint.describe
# study_data_complete.head()
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

<bound method NDFrame.describe of 0       False
1       False
2       False
3       False
4       False
        ...
1888    False
1889    False
1890    False
1891    False
1892    False
Length: 1893, dtype: bool>

In [13]:

# duplicates_g989 = study_data_complete[study_data_complete['Mouse ID'] == 'g989'].duplicated(subset=['Mouse ID', 'Timepoint'], keep=False)
# duplicate_mice_g989 = study_data_complete[study_data_complete['Mouse ID'] == 'g989'][duplicates_g989]
# duplicate_mice_g989.sort_values(by='Mouse ID', ascending =True)
# MouseID_Timepoint = study_data_complete.duplicated(subset=['Mouse ID','Timepoint']).sum()
# MouseID_Timepoint.head()

# df_no_duplicates =study_data_complete.drop_duplicates(subset=['Mouse Id', 'Timepoint'], keep='first')
# df_no_duplicates.set_index(['Mouse Id', 'Timepoint'], inplace=True)

# duplicate_mice = study_data_complete.duplicated[MouseID_Timepoint]
# duplicate_mice.head()

AttributeError: 'numpy.int64' object has no attribute 'head'

In [ ]:
# Optional: Get all the data for the duplicate mouse ID.

In [ ]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [ ]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary DataFrame.

In [ ]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using Pandas.

In [ ]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 

    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and a linear regression model 
# for mouse weight and average observed tumor volume for the entire Capomulin regimen